.github-container{
  padding-bottom: 50px;
}
.results-title{
  padding-top: 50px;
}
.github-link{
  padding-bottom: 40px;
}
.results-page{
  padding: 50px;
}
.fav-language{
  color: indianred;
}

.github-image-cover{
  height: 300px;
  background-position: center;
  background-size: cover;
  padding: 20px;
}
.github-query-container{
  width: 750px;
  margin: auto;
  background: #FFF;
  border-radius: 10px;
  padding: 20px 10px 50px 10px;
}
.margin-20{
  margin: 20px
}
.username-link{

}
.fa-twitter-square{
  color: cadetblue;
}
.fa-chevron-down{
  color: cadetblue;
}
